<template name="AdminDashboard">
  <h1 class="page-header">Administration Dashboard</h1>

  <h1>Recent News</h1>
  {{> TypedNews type="3"}}

  <h2 class="sub-header">Database statistics</h2>
  <p>Here are the main statistics from the game :</p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
	<tr>
          <th>Label</th>
          <th>#</th>
          <th>Link</th>
	</tr>
      </thead>
      <tbody>
	{{#each stats}}
	{{> dashboardStat}}
	{{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="dashboardStat">
  <tr>
    <td>{{label}}</td>
    <td>{{count}}</td>
    <td><a href="/admin/{{url}}">Manage</a></td>
  </tr>
</template>
