<template name="AdminGeographies">
  <h1 class="page-header">Continents Administration</h1>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Geographies</div>
    <div class="panel-body">
      <p>Here is the list of all continents.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Geography</th>
            <th># childs</th>
            <th>Action</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each geographies}}
	  {{> geo}}
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="geography">
      <input type="text" placeholder="New geography" name="geography">
      <input type="submit" value="Add">
    </form>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Generators</div>
    <div class="panel-body">
      <p>Generators are the way we handle competition generation.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Name</th>
	    <th>Periodicity</th>
	    <th>Input</th>
	    <th>Output</th>
            <th>Created ?</th>
            <th>Action</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each generators}}
	  {{> generator}}
	  {{/each}}
	</tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      New generator ...
    </button>
    {{> addGenerator}}
  </div>
</template>

<template name="geo">
  <tr>
    <td>{{num}}</td>
    <td><a href="/admin/geography/{{id}}">{{label}}</a></td>
    <td>{{childs}}</td>
    <td>
      <a class="delete" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
  </tr>
</template>

<template name="generator">
  <tr>
    <td>{{num}}</td>
    <td>{{label}}</td>
    <td>{{period}}</td>
    <td>{{input}}</td>
    <td>{{output}}</td>
    <td>{{created}}</td>
    <td>
      <a class="modify" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
      <a class="delete" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
  </tr>
</template>

<template name="addGenerator">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New generator</h4>
      </div>
      <div class="modal-body">
	<form class="generator">
	  <table class="table table-striped">
	    <tr>
	      <th>Name</th>
	      <td><input type="text" name="name"></td>
	      <td></td>
	    </tr>
	    <tr>
	      <th>Periodicity</th>
	      <td>
		<select name="periodicity">
		  <option value="0" selected></option>
		  <option value="1">Once</option>
		  <option value="2">Every [x] year</option>
		</select>
	      </td>
	      <td>Param: <input type="text" name="xYears" placeholder="x"></td>
	    </tr>
	    <tr>
	      <th>Input</th>
	      <td>
		<select name="periodicity">
		  <option value="0" selected></option>
		  <option value="1">All teams from Geography [x]</option>
		  <option value="2">Best [x] team from Geography [y]</option>
		</select>
	      </td>
	      <td>Param: 
		<input type="text" name="xInput" placeholder="x">
		<input type="text" name="yInput" placeholder="y">
	      </td>
	    </tr>
	  </table>
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
</template>
