<template name="AdminGeography">
  <h1 class="page-header">Geography Administration</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Properties</div>
    <div class="panel-body">
      <p>Here is the list of all geography's properties.</p>
    </div>
    <div class="table-responsive">
      {{#with geo}}
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Property</th>
            <th>Value</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
            <th>1</th>
            <th>Name</th>
            <th>{{label}}</th>
	  </tr>
	  <tr>
            <th>2</th>
            <th>Parent</th>
            <th>{{parentName parent}}</th>
	  </tr>
	</tbody>
      </table>
      {{/with}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Teams</div>
    <div class="panel-body">
      <p>Here is the list of all geography's team.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Name</th>
            <th>Level</th>
            <th>Group</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each addIndex teams}}
	  {{> team}}
  
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="child">
      <input type="text" placeholder="New child" name="child">
      <input type="submit" value="Add">
    </form>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Childs</div>
    <div class="panel-body">
      <p>Here is the list of all geography's childs.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Geography</th>
            <th>Teams</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each addIndex childs}}
	  <tr>
	    <td>{{index}}</td>
	    <td>
	      <a href="/admin/geography/{{value.id}}">{{value.label}}</a>
	    </td>
	    <td>
	      <a href="/admin/geography/{{value.id}}">{{value.teams}}</a>
	    </td>
	    <td>
	      <a class="delete-child" id="{{value._id}}" href="#">
		<span class="glyphicon glyphicon-trash" aria-hidden="true">
		</span>
	      </a>
	    </td>
	  </tr>
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="child">
      <input type="text" placeholder="New child" name="child">
      <input type="submit" value="Add">
    </form>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Team prefixes</div>
    <div class="panel-body">
      <p>Here is the list of all prefixes used to generate team names.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Prefix</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each addIndex geo.prefixes}}
	  <tr>
	    <td>{{index}}</td>
	    <td>{{value}}</td>
	    <td>
	      <a class="delete-prefix" id="{{value}}" href="#">
		<span class="glyphicon glyphicon-trash" aria-hidden="true">
		</span>
	      </a>
	    </td>
	  </tr>
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="prefix">
      <input type="text" placeholder="New prefix" name="prefix">
      <input type="submit" value="Add">
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Cities</div>
    <div class="panel-body">
      <p>Here is the list of all geography's cities.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>City</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each addIndex geo.cities}}
	  <tr>
	    <td>{{index}}</td>
	    <td>{{value}}</td>
	    <td>
	      <a class="delete-city" id="{{value}}" href="#">
		<span class="glyphicon glyphicon-trash" aria-hidden="true">
		</span>
	      </a>
	    </td>
	  </tr>
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="city">
      <input type="text" placeholder="New city" name="city">
      <input type="submit" value="Add">
    </form>
  </div>


</template>

<template name="team">
  <tr>
    <td>{{index}}</td>
    <td><a href="/admin/team/{{value.id}}">{{value.romanized}}</a></td>
    <td>{{value.level}}</td>
    <td>{{value.group}}</td>
  </tr>
</template>
