<template name="AdminNames">
  <h1 class="page-header">Names Administration</h1>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Firstnames</div>
    <div class="panel-body">
      <p>Here is the list of Firstnames used for players generation.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Action</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each firstnames}}
	  {{> firstline}}
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="first">
      <input type="text" placeholder="New firstname" name="firstname">
      <input type="submit" value="Add">
    </form>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Lastnames</div>
    <div class="panel-body">
      <p>Here is the list of Lastnames used for players generation.</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>#</th>
            <th>Lastname</th>
            <th>Action</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each lastnames}}
	  {{> lastline}}
	  {{/each}}
	</tbody>
      </table>
    </div>
    <form class="last">
      <input type="text" placeholder="New lastname" name="lastname">
      <input type="submit" value="Add">
    </form>
  </div>

</template>

<template name="firstline">
  <tr>
    <td>{{num}}</td>
    <td>{{label}}</td>
    <td>
      <a class="delete" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
  </tr>
</template>

<template name="lastline">
  <tr>
    <td>{{num}}</td>
    <td>{{label}}</td>
    <td>
      <a class="delete" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
  </tr>
</template>
