<template name="AdminNews">
  <h1 class="page-header">News Administration</h1>
  <p>Here you can manage game news.</p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
	<tr>
          <th>Title</th>
          <th>Type</th>
          <th>Visibility</th>
          <th>Action</th>
	</tr>
      </thead>
      <tbody>
	{{#each news}}
	{{> AdminNewsEach}}
	{{/each}}
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Add a news ...
    </button>
    {{> addNews}}

  {{> modifyNews}}
</template>

<template name="AdminNewsEach">
  <tr id="news-id-{{id}}">
    <td class="title">{{title}}</td>
    <td class="type">{{type}}</td>
    <td class="visib">{{visibility}}</td>
    <td>
      <a class="modify" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>&nbsp;
      <a class="delete" id="{{id}}" href="#">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
  </tr>
</template>

<template name="addNews">
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add a news</h4>
	</div>
	<div class="modal-body">
	  <form class="generator">
	    <table class="table table-striped">
	      <tbody>
		<tr>
		  <th>Title</th>
		  <td colspan="3">
		    <input type="text" name="title" size="56">
		  </td>
		</tr>

		<tr>
		  <th>Date</th>
		  <td>{{> datepicker}}</td> <!-- {{today}} -->
		  <th>Author</th>
		  <td>{{username}}</td>
		</tr>

		<tr>
		  <th>Type</th>
		  <td>
		    <select name="type">
		      {{#each newsTypes}}
		      {{> AdminNewsType}}
		      {{/each}}
		    </select>
		  </td>
		  <th>Visibility</th>
		  <td>
		    <select name="visibility">
		      <option value="0">Shown</option>
		      <option value="1">Hidden</option>
		    </select>
		  </td>
		</tr>
		
		<tr><th colspan="4">Content</th></tr>
		<tr>
		  <td colspan="4">
		    <textarea name="content" cols="62" rows="5"></textarea>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </form>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add">Create</button>
	</div>
      </div>
    </div>
  </div>
</template>

<template name="AdminNewsType">
  <option value="{{value}}">
    {{label}}
  </option>
</template>

<template name="datepicker">
  <input id="datepicker"  name="date">
</template>

<template name="modifyNews">
  <!-- Modal -->
  <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modify a news</h4>
	</div>
	<div class="modal-body">
	  <form class="generator">
	    <table class="table table-striped">
	      <tbody>
		<tr>
		  <th>Title</th>
		  <td colspan="3">
		    <input id="title" type="text" name="title" size="56">
		  </td>
		</tr>

		<tr>
		  <th>Date</th>
		  <td><input id="date" type="text"></td>
		  <th>Author</th>
		  <td><input id="author" type="text"></td>
		</tr>

		<tr>
		  <th>Type</th>
		  <td>
		    <select name="type">
		      {{#each newsTypes}}
		      {{> AdminNewsType}}
		      {{/each}}
		    </select>
		  </td>
		  <th>Visibility</th>
		  <td>
		    <select name="visibility">
		      <option value="0">Shown</option>
		      <option value="1">Hidden</option>
		    </select>
		  </td>
		</tr>
		
		<tr><th colspan="4">Content</th></tr>
		<tr>
		  <td colspan="4">
		    <textarea id="content" name="content"
			      cols="62" rows="5"></textarea>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </form>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="update">Update</button>
	</div>
      </div>
    </div>
  </div>
</template>
