<template name="home">
  <h1>Welcome to mrtManager</h1>

  <p><em>mrtManager</em> is a free soccer management game powered by
    the open-source real-time JavaScript web framework 
    <a href="http://www.meteor.com">meteor</a>.</p> 

  <p><em>mrtManager</em> is a free software licensed under 
    <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">Affero GPL</a>
    as a <a href="https://github.com/rainbru/mrt-manager">github project</a>.
    </p>

  <h1>Recent News</h1>
  {{> TypedNews type="0"}}

</template>

