<template name="profile">
  <h1>Recent News</h1>
  {{> TypedNews type="2"}}

  <h1 class="page-header">Your profile</h1>
  <p><strong>Username :</strong>{{username}}
    {{#if isInRole 'admin'}}
    &nbsp;<strong>(admin)</strong>
    {{/if}}
  </p>
  <p><strong>Email :</strong>{{email}}</p>
  <p><strong>Team :</strong>You don't have any team yet!</p>

</template>
