<!-- Params: 
     - type: the type of news to be shown.
-->
<template name="TypedNews">
  {{#each getVisibleNews type}}
  {{> HomepageNewsEach}}
  {{/each}}
</template>

<template name="HomepageNewsEach">
  <article class="news">
    <div class="news-title">
      <span>{{title}}</span>
      <span class="news-date">{{date}}</span>
      <span class="news-author">{{author}}</span> -
    </div>
    <div class="news-text">
      <p>{{content}}</p>
    </div>
  </article>
</template>
