.news-title{
    color: #aaf;
    margin: 10px 0 0 0px;
    padding: 0px 10px 0px 10px;
    
    font: 13px Arial, Helvetica, sans-serif;
    color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    line-height: 30px;
    height: 30px;
    background-position: bottom right;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#000), color-stop(0.5, #464648), to(#000));
    background-image: -webkit-linear-gradient(left, #000, #464648 50%, #000);


    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #207cca 99%, #2989d8 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#207cca 99%,#2989d8 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%,#207cca 99%,#2989d8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
}

.news-author{
    color: #f4f;
    float:right;
    margin-right: 10px;
}

.news-date{
    color: #faa;
    float:right;
}

.news-text{
    color: #005;
    margin:  0px 10px 0px 10px;
    background-color: #FFFECE;
}

.news{
    border-top-style:double;
    padding-top:5px;
    border-top-color:#7cbfcf;
    border-top-width:8px;

/*    border-bottom-style:double; 
    padding-bottom:5px;
    border-bottom-color:#7cbfcf;
    border-bottom-width:8px;
    */
}