<template name="login">
  <h1>Login</h1>
    <form>
      <p>Email</p>
      <input type="email" name="loginEmail" id="username">
      <p>Password</p>
      <input type="password" name="loginPassword" id="password">
      <p><input class="btn btn-success" type="submit" value="Login"></p>
    </form>
</template>
