<template name="register">
  <h1>Register</h1>
  <form class="form-horizontal">
    <p><input type="email" name="registerEmail" placeholder="Email"></p>
    <p><input type="password" name="registerPassword" placeholder="Password">
    </p>
    <p><input type="password" name="confirmPassword" 
	      placeholder="Password confirmation">
    </p>
    <p><input class="btn btn-success" type="submit" value="Register"></p>
  </form>
</template>
