<template name="sidebar">
  <div class="col-sm-3 col-md-2 sidebar">
    {{#if isInRole 'admin'}}
    <ul class="nav nav-sidebar">
      <li><strong>Administration</strong></li>
      {{> item layout="adminDashboard" url="/admin/dashboard" text="Overview"}}
      {{> item layout="adminGeographies" url="/admin/geographies"
          text="Geographies"}}
      {{> item layout="adminNews" url="/admin/news" text="News"}}

      <li><a href="#">Analytics</a></li>
      <li><a href="#">Export</a></li>
    </ul>
    {{/if}} 
    <ul class="nav nav-sidebar">
      <li><strong>You</strong></li>
<!--      <li {{isActive "profile"}}><a href="/profile">Profile</a></li> -->
      {{> item layout="profile" url="/profile" text="Profile"}}
      {{> item layout="friends" url="/friends" text="Friends"}}
      {{> item layout="inbox"   url="/inbox"   text="Inbox"}}
    </ul>
    <ul class="nav nav-sidebar">
      <li><strong>Your team</strong></li>
      {{> item layout="team"    url="/team"    text="Overview"}}
      {{> item layout="competitions" url="/competitions" text="Competitions"}}
      {{> item layout="players" url="/players" text="Players"}}
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
    </ul>
  </div>
</template>

<template name="item">
  <li class="{{#if current}}active{{/if}}">
    <a href="{{url}}">{{text}}</a></li>
</template>
