<head>
  <title>mrtManager</title>
</head>

<template name="layout">
  <body>
    {{> nav}}
    <div class="container container-fluid">
      <div class="row">
	{{#if currentUser}}
	{{> sidebar}} 
	{{/if}}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  {{> errors}}

	  {{> yield}}
	</div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
	<p class="text-muted"><tt>mrt_manager</tt> is licensed under 
	  <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">
	    Affero GPLv3.</a></p>
	<p class="text-muted">You may contribute on 
	  <a href="https://github.com/rainbru/mrt-manager">github</a></p>
      </div>
    </footer>
  </body>
</template>
